.container{
    width:500px;
    border:1px solid ;
    padding:5px;
    border-radius: 5px;
    margin-right: 10px;
}
.form-group{
    padding: 5px 0;
}
.text-center {
    text-align:center
}
.form-control{
    height: 25px ; 
    width: 60%;
    border: 1px solid;
    border-radius: 3px;
}
.form-label{
    width: 40%;
}
.d-flex{
    display: flex;
}
.text-right{
    text-align: right;
}
button.reset{
    width: 150px;
    padding: 5px;
    background: red;
    color: white;
    border: 1px solid rgb(119, 8, 8);
}
.add-product{
    width: 150px;
    padding: 5px;
    background: #268ebf;
    color: white;
    margin-left: 10px;
    border: 1px solid #034261;
}
#table-products {
    border-collapse: collapse;
    width: 100%;
}

#table-products td, #table-products th {
    border: 1px solid #ddd;
    padding: 8px;
}
#table-products tr:nth-child(even){
    background-color: #f2f2f2;
}
.justify-content-between{
    justify-content: space-between;
}
.edit-product,.remove-product{
    width: 65px;
    padding: 5px;
    color: #ffffff;
    margin-right: 10px;
    border: 1px solid gray;
}
.edit-product{
    background: #268ebf;
}
.remove-product{
    background: red;
}
.required{
    border: 1px solid red;
}
.text-danger{
    color: red;
    text-align: right;
    margin: 10px 0;
}
.edit-form{
    position: fixed;
    background: #0000006b;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.form-body{
    background: white;
    width: 450px;
    position: absolute;
    height: auto;
    padding: 25px;
}
.edit-form .form-control{
    width: 70%;
    border: 1px solid #0000005c;
    border-radius: 5px;
    height: 30px;
    color: black
}
.edit-form .checkbox{
    height:auto;
    width: auto;
}

.edit-form label{
    width: 30%;
    display: flex;
    align-items: end;
    margin-right: 15px;
    color:black
}
.edit-form-footer{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.form {
    width: 100%;
    display: flex;
    padding: 3px 0;
}
.edit-form span {
    font-weight: bold;
}
.edit-form .btn-cancel{
    background: #c5c5c5;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: white;
    border: unset;
    cursor: pointer
}
.edit-form .btn-submit{
    background: #0c9de0;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: white;
    border: unset;
    cursor: pointer
} 
.clear-space{
    width: 10px;
}