<template>
  <div class="about">
    <div class="d-flex">
      <div class="container mr-2">
        <h3 class="text-center">Add Product Form</h3>
        <div v-if="isNotMacthRequirement" class="text-danger">Please fill all red boxes to continue!!</div>
        <div class="form-group d-flex">
          <label for="productname" class="form-label">Product Name : </label>
          <input type="text" v-model="productModel.productname" id="productname" class="form-control" v-bind:class="{'required':isRequireField.productname}">
        </div>

        <div class="form-group d-flex">
          <label for="productsubfixname" class="form-label">Product Subfix Name : </label>
          <input type="text" v-model="productModel.productsubfixname" id="productsubfixname" class="form-control">
        </div>

        <div class="form-group d-flex">
          <label for="brandname" class="form-label">Brand Name : </label>
          <input type="text" v-model="productModel.brandname" id="brandname" class="form-control" v-bind:class="{'required':isRequireField.brandname}">
        </div>

        <div class="form-group d-flex">
          <label for="producttype" class="form-label">Product Type : </label>
          <select v-model="productModel.producttype" id="producttype" class="form-control">
              <option value="Food and Drink">Food and Drink</option>
              <option value="Kitchen Equipment">Kitchen Equipment</option>
              <option value="Electronic">Electronic</option>
          </select>
        </div>

        <div class="form-group d-flex">
          <label for="currency" class="form-label">Currency : </label>
          <select v-model="productModel.currency" id="currency" class="form-control">
              <option value="USD">USD</option>
              <option value="MYR">MYR</option>
              <option value="Reil">Reil</option>
          </select>
        </div>

        <div class="form-group d-flex">
          <label for="productcost" class="form-label">Cost ({{ productModel.currency }}) : </label>
          <input type="number" v-model="productModel.productcost" id="productcost" class="form-control" v-bind:class="{'required':isRequireField.productcost}">
        </div>

        <div class="form-group d-flex">
          <label for="productprice" class="form-label">Price ({{ productModel.currency }}) : </label>
          <input type="number" v-model="productModel.productprice" id="productprice" class="form-control" v-bind:class="{'required':isRequireField.productprice}">
        </div>

        <div class="form-group d-flex">
          <label for="dateadd"  class="form-label">Add Date : </label>
          <input type="date" v-model="productModel.dateadd" id="dateadd" class="form-control">
        </div>
      
        <div class="form-group d-flex">
          <label for="isInStock"  class="form-label">isInStock : </label>
          <input type="checkbox" v-model="productModel.isInStock" id="isInStock">
        </div>
         
        <div class="text-center">
          <button v-on:click="resetForm" class="reset">Reset</button>
          <button v-on:click="addProduct" class="add-product">Add Product</button>
        </div>
      </div>
      <div class="container">
        <h3 class="text-center">Preview</h3>
        <div class="form-group">
          <label for="productname">Product Name : </label>
          <span>{{productModel.productname}}</span>
        </div>

        <div class="form-group">
          <label for="productsubfixname">Product Subfix Name : </label>
          <span>{{productModel.productsubfixname}}</span>
        </div>

        <div class="form-group">
          <label for="brandname">Brand Name : </label>
          <span>{{productModel.brandname}}</span>
        </div>

        <div class="form-group">
          <label for="productfullname">Product Fullname : </label>
          <span>{{getProductFullName}}</span>
        </div>

        <div class="form-group">
          <label for="producttype">Product Type : </label>
          <span>{{productModel.producttype}}</span>
        </div>

        <div class="form-group">
          <label for="productcost" class="form-label">Cost : </label>
          <span>{{productModel.productcost}} {{ productModel.currency }}</span>
        </div>

        <div class="form-group">
          <label for="productprice">Price : </label>
          <span>{{productModel.productprice}} {{ productModel.currency }}</span>
        </div>

        <div class="form-group">
          <label for="dateadd">Add Date : </label>
          <span>{{productModel.dateadd}}</span>
        </div>

        <div class="form-group">
          <label >Status : </label>
          <span>{{getStatus}}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { IProducts, IRequiredField } from '../interfaces'
export default {
  name: 'AddNewProduct',
  data(){
    return {
      productModel :{},
      isRequireField :{},
      isNotMacthRequirement : false,
    } as {
      productModel : IProducts,
      isRequireField : IRequiredField,
      isNotMacthRequirement : boolean
    }
  },
  _methods: {
    resetForm (): void {
        this.productModel.productname = '';
        this.productModel.brandname = '';
        this.productModel.productsubfixname = '';
        this.productModel.producttype = '';
        this.productModel.productcost = '';
        this.productModel.productprice = '';
        this.productModel.currency = '';
        this.productModel.dateadd = '';
        this.productModel.isInStock = false;
        this.resetRequireField();
    },
    addProduct(): void{
      if(this.checkRequireField()){
        return;
      }else{
        this.productModel.id = this.generateProductId('firstPart', 'secondPart');
        this.$store.commit('addNewProduct',{...this.productModel})
        this.resetForm();
      }
    },
    checkRequireField(): boolean{
      let bool = false;
      this.resetRequireField();
      if(this.productModel.productname == ''){
        this.isRequireField.productname = true;
        bool = true;
      }
      if(this.productModel.brandname == ''){
        this.isRequireField.brandname = true;
        bool = true;
      }
      if(this.productModel.productcost == ''){
        this.isRequireField.productcost = true;
        bool = true;
      }
      if(this.productModel.productprice == ''){
        this.isRequireField.productprice = true;
        bool = true;
      }
      this.isNotMacthRequirement = bool;
      return bool;
    },
    resetRequireField(): void{
      this.isRequireField.productname = false;
      this.isRequireField.brandname = false;
      this.isRequireField.producttype = false;
      this.isRequireField.productprice = false;
      this.isRequireField.productcost = false;
      this.isRequireField.currency = false;
    },
    generateProductId(firstPart: string, secondPart: string): string{
        firstPart = ("000" + firstPart.toString()).slice(-3);
        secondPart = ("000" + secondPart.toString()).slice(-3);
        return firstPart + secondPart;
    }
  },
  get methods() {
    return this._methods;
  },
  set methods(value) {
    this._methods=value;
  },
  computed : {
    getProductFullName(): string{
      return `${this.productModel.productname+' '+this.productModel.productsubfixname}`;
    },
    getStatus (): string{
      return this.productModel.isInStock ? 'In Stock' : 'Out of Stock';
    }
  },
  watch : {
     isInStock(){
      alert(`Product ${this.productModel.productname} is ${this.productModel.isInStock ? 'In Stock' : 'Out of Stock'}`);
    }
  }
}
</script>