<template>
  <div id="app">
    <div style="width:1035px">
      <table id="table-products">
        <thead>
          <tr>
            <td colspan="11">
              <div class="d-flex justify-content-between">
                  <span>Total Product : {{ totalProduct }}</span>
                  <div>
                    <input type="checkbox" name="isShowActionButton" id="is-show-action-button" v-model="isShowActionButton">
                    <label for="is-show-action-button">Show Action Button</label>
                  </div>
              </div>
      
            </td>
          </tr>
          <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Brand Name</th>
            <th>Product Type</th>
            <th>Currency</th>
            <th>Csot</th>
            <th>Price</th>
            <th>Added Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" v-bind:key="product.id">
            <td>{{ product.id }}</td>
            <td>{{ product.productname }}</td>
            <td>{{ product.brandname }}</td>
            <td>{{ product.producttype }}</td>
            <td>{{ product.currency }}</td>
            <td>{{ product.productcost }}</td>
            <td>{{ product.productprice }}</td>
            <td>{{ product.dateadd }}</td>
            <td>{{ product.isInStock ? 'In Stock' : 'Out of Stock' }}</td>
            <td>
              <div class="d-flex justify-content-between">
                <button class="edit-product" v-show="isShowActionButton" @click="editProduct(product.id,this.products)">Edit</button>
                <button class="remove-product" v-show="isShowActionButton" @click="deleteProduct(product.id,this.products)">Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="edit-form" v-if="isEditProduct">
          <div class="form-body">
              <span>Edit Product</span>
              <div class="form">
                  <label for="">Product Name :</label>
                  <input type="text" class="form-control" v-model="editProductModel.productname">
              </div>
              <div class="form">
                  <label for="">Brand Name :</label>
                  <input type="text" class="form-control"  v-model="editProductModel.brandname">
              </div>
              <div class="form">
                  <label for="">Product Type :</label>
                  <select class="form-control"  v-model="editProductModel.producttype">
                      <option value="Food and Drink">Food and Drink</option>
                      <option value="Electronic">Electronic</option>
                      <option value="Kitchen Equipment">Kitchen Equipment</option>
                  </select>
              </div>
              <div class="form">
                  <label for="">Currency :</label>
                  <select class="form-control"  v-model="editProductModel.currency">
                      <option value="USD">USD</option>
                      <option value="MYR">MYR</option>
                      <option value="Reil">Reil</option>
                  </select>
              </div>
              <div class="form">
                  <label for="">Cost :</label>
                  <input type="number" class="form-control"  v-model="editProductModel.productcost">
              </div>
              <div class="form">
                  <label for="">Price : </label>
                  <input type="number" class="form-control"  v-model="editProductModel.productprice">
              </div>
              <div class="form">
                  <label for="">Date :</label>
                  <input type="date" class="form-control"  v-model="editProductModel.dateadd">
              </div>
              <div class="form" style="padding-top:15px">
                  <label for="">Is Instock :</label>
                  <input type="checkbox" v-model="editProductModel.isInStock" class="form-control checkbox">
              </div>
              <div class="edit-form-footer">
                  <button class="btn-cancel" @click="cancelEdit">Cencel</button>
                  <div class="clear-space"></div>
                  <button class="btn-submit" @click="updateProduct">Update</button>
              </div>
          </div>
      </div>
    </div>
  </div>
  
</template>

<script lang="ts">

import { IProducts } from '../interfaces'
import { defineComponent } from "vue";
export default defineComponent({
  name: 'Home',
  data(){
    return {
      isShowFilter : false,
      isShowActionButton: true,
      isEditProduct : false,
      editProductModel : {}
    } as {
      isShowFilter : boolean,
      isShowActionButton : boolean,
      isEditProduct : boolean,
      editProductModel : IProducts
    }
  },
  _methods: {
    deleteProduct(id : string, products: IProducts[]) : void{
      const newData = products.filter((product: IProducts)=>product.id!=id);
      this.$store.commit('romoveOrUpdateProduct',newData);
    },
    editProduct(id : string, products : IProducts[]) : void{
        this.isEditProduct = true;
        let product = products.find((product : IProducts) => product.id == id);
        this.editProductModel = product;
    },
    cancelEdit() : void{
         this.isEditProduct = false;
    },
    updateProduct() : void{
        const products = [...this.products];
        const targetProduct = products.findIndex(x => x.id == this.editProductModel.id);
        products[targetProduct] = {...this.editProductModel};
        this.$store.commit('romoveOrUpdateProduct',products);
        this.cancelEdit();
    }
  },get methods() {
    return this._methods;
  },
  set methods(value) {
    this._methods=value;
  },
  computed : {
    totalProduct(){
      return this.$store.getters.countProducts;
    },
    products(){
        return this.$store.state.products;
    }
  }
})
</script>


