<template>
  <div id="app">
    <h3 class="text-center">Product List</h3>
    <hr>
    <div class="d-flex">
      <div style="min-width:200px;margin-right: 5px;">
        <div class="menu">
          <router-link to="/">Product List ({{totalProduct}})</router-link>
        </div>
        <div class="menu">
          <router-link to="/add-new-product">Add New Product</router-link>
        </div>
      </div>
      <div style="min-width:1000px">
          <router-view></router-view>
      </div>
      </div>
  </div>
  
</template>
<script>
export default {
  name: 'App',
  computed : {
    totalProduct(){
      return this.$store.getters.countProducts;
    }
  }
}
</script>